* {
    box-sizing: border-box;
    margin: 0;
}

html,
body,
.wrapper {
    height: 100%;
}

button {
    cursor: pointer;
}

.wrapper {
    max-width: 1320px;
    width: 100%;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr;
    row-gap: 16px;
    margin: 0 auto;
}
